data/private/
code/experimental
**/.DS_Store
code/prefer_challenge/data
code/prefer_challenge/data/
code/prefer_challenge/models/
__pycache__/
*.pyc                # Ignore compiled Python files in all directories
*.pyo                # Ignore optimized compiled Python files
*.pyd                # Ignore Windows specific Python extension files
env_ossc/
.venv/
*.swp
logs/
*logs/*.err
*logs/*.out
data/temp_output/
pipe_test_eh/
ehtest/
fake_data_v0/
venv/
out_for_*.txt
tree.txt